.about-me {
  max-width: 800px;
  margin: 0 auto;
}
.about-me p {
  margin-bottom: 1rem;
}
.about-me p:first-of-type {
  margin-top: 2rem;
}
.about-me .tech-stack {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.about-me .tech-stack img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-me .tech-stack {
    max-width: none;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 991px) {
  .about-me .tech-stack {
    gap: 2rem;
  }
}
