section.contact {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
}
section.contact .message {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  section.contact {
    margin-bottom: 6.25rem;
  }
}
