@font-face {
  font-family: "Calibre";
  src: local("Calibre Light"), local("Calibre-Light"),
    url("Calibre-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Thin"), local("Calibre-Thin"),
    url("Calibre-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Light Italic"), local("Calibre-LightItalic"),
    url("Calibre-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Medium Italic"), local("Calibre-MediumItalic"),
    url("Calibre-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Black Italic"), local("Calibre-BlackItalic"),
    url("Calibre-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Semibold"), local("Calibre-Semibold"),
    url("Calibre-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Black"), local("Calibre-Black"),
    url("Calibre-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Medium"), local("Calibre-Medium"),
    url("Calibre-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Regular Italic"), local("Calibre-RegularItalic"),
    url("Calibre-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Bold Italic"), local("Calibre-BoldItalic"),
    url("Calibre-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Bold"), local("Calibre-Bold"),
    url("Calibre-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre"), local("Calibre-Regular"),
    url("Calibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Semibold Italic"), local("Calibre-SemiboldItalic"),
    url("Calibre-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Thin Italic"), local("Calibre-ThinItalic"),
    url("Calibre-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
