/* Font Imports */
@import url("http://fonts.cdnfonts.com/css/sf-mono");

/* Variables */
:root {
  --primary-bg: #0a192f;
  --secondary-bg: #112240;
  --primary-text: #ccd6f6;
  --secondary-text: #8892b0;
  --light-gray: #a8b2d1;
  --bright-green: #64ffda;

  --sf-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --calibre: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--primary-bg);
  padding: 0 1.5rem;
  color: white;
  scroll-behavior: smooth;
}

section {
  padding: 5rem 0 1.25rem;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: var(--calibre);
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--secondary-text);
}

.page {
  max-width: 1100px;
  margin: 0 auto;
}

/* ::-webkit-scrollbar {
  width: 0;
} */

/* Repeated Classes */
.big-btn {
  padding: 1.25rem 1.75rem;
  background-color: transparent;
  font-family: var(--sf-mono);
  color: var(--bright-green);
  line-height: 1;
  border: 1px solid var(--bright-green);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.big-btn:hover {
  background-color: #64ffda1a;
}

.title {
  color: var(--primary-text);
}

.title .number {
  font-family: var(--sf-mono);
  color: var(--bright-green);
}

.title .main {
  font-family: var(--calibre);
  font-size: 2.5rem;
  font-weight: 600;
}

/* Media Queries */
@media screen and (min-width: 480px) {
  body {
    padding: 0 3rem;
  }

  section {
    padding: 5rem 0;
  }
}

@media screen and (min-width: 769px) {
  body {
    padding: 0 6rem;
  }

  section {
    padding: 6.25rem 0;
  }

  p {
    font-size: 1.4rem;
  }

  .title .main {
    font-size: 3rem;
  }
}

@media screen and (min-width: 991px) {
  body {
    padding: 0 9rem;
  }
}